/* Typography */

body {
  margin: 40px;
  font-family: "Work Sans", sans-serif;
  background-color: white;
  color: black;
}

h1, h2, h3 {
  font-family: "Bodoni72", monospace;
  font-weight: 500;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #1e00ff;
}

/* Header & Navigation */
header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 40px;
}

.logo {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.nav-links {
  display: flex !important;
  gap: 30px;
  color: black !important;
}

.nav-links a {
  font-size: 16px;
  color: black !important;
  text-decoration: none !important;
  font-weight: 400;
}

/* Layout Containers */
main {
  margin: 0 auto;
}

.container {
  margin: 0 auto !important;
  padding: 0 20px !important;
}

.textcontainer {
  max-width: 1050px !important;;
  margin: 0 auto !important;
  padding: 0 20px !important;
}

.margin {
  margin-bottom: 30px;
}

/* Carousel */
.carousel {
  margin-top: 40px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

/* Buttons */
#btn {
  border: 3px outset #a0a0a0;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #a3a3a3;
  color: #000000;
  transition: 0.3s;
}

#btn:hover {
  border: 3px inset #989898;
  background-color: #a3a3a3;
}

/* Utility Classes */
.row {
  margin: auto;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}

.center-row {
  display: flex;
  justify-content: center;
}

.caption {
  color: gray;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

code {
  background-color: #2d2b33;
  color: #EEE7E8;
  font-family: 'Courier New', Courier, monospace;
  padding: 4px 8px;
  border-radius: 4px;
}

#aboutme {
  padding: 20px;
}

 /* Mouse Trail Styles */
    .trail-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black;   
  border-radius: 50%;
  pointer-events: none;
  opacity: 50%;
  z-index: 9999;
  animation: fadeOut 5s ease-out forwards;  /* 渐变消失 */
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.3);
  }
}

    #trail-container {
      position: fixed;
      inset: 0;
      pointer-events: none;
      z-index: 9999;
    }